<label >server name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{serverName}}</p>
<button class="btn btn-primary"
[disabled]="allowNewserver_disable"
(click)="onCreateServer()"
>Add Server</button>
<!-- <p [innerText]="allowNewserver_disable"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->

<p>server was created, server name is {{ serverName}}</p>

<app-server>
</app-server>
<app-server></app-server>